body {
  padding-top:100px;
  background-image: linear-gradient(rgba(9, 4, 58, 0.808),rgba(7, 7, 194, 0.637));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Lato', sans-serif;
  color:white;
  ;
}

.navbg
{
  background-color:white;
  color:black !important;
}

.bg
{
  background-color:rgb(173, 216, 230,0.8);
  color:black !important;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.introbox
{
  object-fit: containt !important;
  padding:0;
} 

.boxborder
{
  border-top:solid;
  border-bottom:solid;
  border-color:black;
}

#logo
{
  width: 40%;
}

.roundimg
{
border-radius:0px;
}

.navbar
{
  color:black !important;
}

h4{
  background-color: rgb(0, 0, 0,0.6);
}