body {
  padding-top:100px;
  background-image: linear-gradient(rgba(0, 0, 140,0.3),rgba(0, 0, 140,0.8));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.bg-orange
{
  background-color:darkblue;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.introbox
{
  border: 5px solid #f7a239;
  object-fit: containt !important;
  padding:0;
} 



